PORT=5000
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5433/amar_khoroch?schema=public"
REDIS_HOST="localhost"
REDIS_PORT=6380
REDIS_PASSWORD=""
JWT_SECRET="super-secret-amar-khoroch-jwt-key-2026-production"
JWT_EXPIRES_IN="7d"

# Mail / SMTP Credentials for Database Backup Vault
MAIL_HOST="smtp.gmail.com"
MAIL_PORT=465
MAIL_USERNAME="your-email@gmail.com"
MAIL_PASSWORD="your-16-char-app-password"
MAIL_FROM_ADDRESS="your-email@gmail.com"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-16-char-app-password"

BACKUP_RECIPIENT_EMAIL="dev.tajulislam505@gmail.com"
